<?xml version="1.0"?>
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <appSettings>
    <add key="redis_read_write_servers" value="192.168.1.57:6379"  xdt:Transform="Replace" xdt:Locator="Match(key)"/>
    <add key="redis_readonly_servers" value="192.168.1.57:6379"  xdt:Transform="Replace" xdt:Locator="Match(key)"/>

    <add key="merhantId" value="10011760195" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
    <add key="keyValue" value="73ZB6067H9M6Mls26eS5Za1e3ba9p5Z3Ihg2A94NTK28Y548GNMZnBT45N35" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
    <add key="authorizationURL" value="https://www.yeepay.com/app-merchant-proxy/node" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
    <add key="queryRefundReqURL" value="https://www.yeepay.com/app-merchant-proxy/command" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
    <add key="YeepayCallBackURL" value="http://itest.kk570.com/Yeepay/YeepayCallBack/" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
    <add key="YeepayCardCallBackURL" value="http://itest.kk570.com/Yeepay/YeepayCardCallBack/" xdt:Transform="Replace" xdt:Locator="Match(key)"/>

  </appSettings>

</configuration>
