<?xml version="1.0"?>
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <appSettings>
    <add key="redis_read_write_servers" value="59.151.81.101:6379"  xdt:Transform="Replace" xdt:Locator="Match(key)"/>
    <add key="redis_readonly_servers" value="59.151.81.101:6379"  xdt:Transform="Replace" xdt:Locator="Match(key)"/>

    <add key="RetryIntervals" value="60,300,1800,28800,86400"  xdt:Transform="Replace" xdt:Locator="Match(key)"/>
    <add key="WorkerNumber" value="2"  xdt:Transform="Replace" xdt:Locator="Match(key)"/>

    <add key="merhantId" value="10011874016" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
    <add key="keyValue" value="b2f85Y74hmP1TnR42Mv7783R2f24165S35o247Cxqt2b1Y6a117zlo2XAEu0" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
    <add key="authorizationURL" value="https://www.yeepay.com/app-merchant-proxy/node" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
    <add key="queryRefundReqURL" value="https://www.yeepay.com/app-merchant-proxy/command" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
    <add key="YeepayCallBackURL" value="http://pay.nfungame.com/Yeepay/YeepayCallBack/" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
    <add key="YeepayCardCallBackURL" value="http://pay.nfungame.com/Yeepay/YeepayCardCallBack/" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
    <add key="UseRealYeePay" value="true" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
  </appSettings>

  <connectionStrings>
    <add name="ConnectionStringOracleGeneral" connectionString="data source=(DESCRIPTION=(ADDRESS=(PROTOCOL=tcp)(HOST=localhost)(PORT=1521))(CONNECT_DATA=(SERVICE_NAME=orcl)));user id=PANDA; password=entriqeng@WSX" providerName="Oracle.DataAccess.Client" xdt:Transform="Replace" xdt:Locator="Match(name)" />
    <add name="ConnectionStringOracleLog" connectionString="data source=(DESCRIPTION=(ADDRESS=(PROTOCOL=tcp)(HOST=localhost)(PORT=1521))(CONNECT_DATA=(SERVICE_NAME=orcl)));user id=yltest; password=entriqeng@WSX" providerName="Oracle.DataAccess.Client"  xdt:Transform="Replace" xdt:Locator="Match(name)"  />
  </connectionStrings>

</configuration>
