@{
    ViewBag.Title = "Lack Of Permisson";
    Layout = "~/Views/Shared/_payCenterLayout.cshtml";
}
<div class="contentHeader">
    <div class="contentHeaderInfo">
        <button class="btn btn-quaternary btn-large addapp" onclick="history.back();">
            返 回</button>
    </div>
    <div class="apphead">
        <div class="title">
            <b>@ViewBag.Title</b>
        </div>
    </div>
</div>
<div class="content">
    <div class="windows">您没有足够权限，请联系管理员！Lack Of Permisson</div>
</div>
