<?xml version="1.0"?>

<!-- For more information on using Web.config transformation visit http://go.microsoft.com/fwlink/?LinkId=125889 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <!--
    In the example below, the "SetAttributes" transform will change the value of 
    "connectionString" to use "ReleaseSQLServer" only when the "Match" locator 
    finds an atrribute "name" that has a value of "MyDB".
    
    <connectionStrings>
      <add name="MyDB" 
        connectionString="Data Source=ReleaseSQLServer;Initial Catalog=MyReleaseDB;Integrated Security=True" 
        xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
    </connectionStrings>
  -->
  <system.web>
    <compilation xdt:Transform="RemoveAttributes(debug)" />
    <!--
      In the example below, the "Replace" transform will replace the entire 
      <customErrors> section of your Web.config file.
      Note that because there is only one customErrors section under the 
      <system.web> node, there is no need to use the "xdt:Locator" attribute.
      
      <customErrors defaultRedirect="GenericError.htm"
        mode="RemoteOnly" xdt:Transform="Replace">
        <error statusCode="500" redirect="InternalError.htm"/>
      </customErrors>
    -->
  </system.web>

  <connectionStrings>
    <remove name="DefaultConnection" xdt:Transform="Replace" xdt:Locator="Match(name)"/>
    <add name="DefaultConnection" connectionString="Data Source=192.168.1.55,1433;Initial Catalog=aspnetdb;user id=aspnet;password=1qaz@WSX" providerName="System.Data.SqlClient" xdt:Transform="Replace" xdt:Locator="Match(name)"/>

    <add name="ConnectionStringOracleGeneral" connectionString="data source=(DESCRIPTION=(ADDRESS=(PROTOCOL=tcp)(HOST=localhost)(PORT=1521))(CONNECT_DATA=(SERVICE_NAME=orcl)));user id=PANDA; password=entriqeng@WSX" providerName="Oracle.DataAccess.Client" xdt:Transform="Replace" xdt:Locator="Match(name)" />
  </connectionStrings>
  <appSettings>
      <add key="redis_read_write_servers" value="59.151.81.101:6379"  xdt:Transform="Replace" xdt:Locator="Match(key)" />
      <add key="redis_readonly_servers" value="59.151.81.101:6379"  xdt:Transform="Replace" xdt:Locator="Match(key)" />
      <add key="MaxWritePoolSize" value="100"  xdt:Transform="Replace" xdt:Locator="Match(key)" />
      <add key="MaxReadPoolSize" value="100"  xdt:Transform="Replace" xdt:Locator="Match(key)" />
      <add key="Cache_redis_read_write_servers" value="59.151.81.101:6377"  xdt:Transform="Replace" xdt:Locator="Match(key)" />
      <add key="Cache_redis_readonly_servers" value="59.151.81.101:6377"  xdt:Transform="Replace" xdt:Locator="Match(key)" />
      <add key="Cache_MaxWritePoolSize" value="100"  xdt:Transform="Replace" xdt:Locator="Match(key)" />
      <add key="Cache_MaxReadPoolSize" value="100"  xdt:Transform="Replace" xdt:Locator="Match(key)" />
      <add key="Log_redis_read_write_servers" value="59.151.81.101:6377"  xdt:Transform="Replace" xdt:Locator="Match(key)" />
      <add key="Log_redis_readonly_servers" value="59.151.81.101:6377"  xdt:Transform="Replace" xdt:Locator="Match(key)" />
      <add key="Log_MaxWritePoolSize" value="100"  xdt:Transform="Replace" xdt:Locator="Match(key)" />
      <add key="Log_MaxReadPoolSize" value="100"  xdt:Transform="Replace" xdt:Locator="Match(key)" />
  </appSettings>

</configuration>