<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=5.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
  </configSections>
  <connectionStrings>
    <add name="DefaultConnection" connectionString="Data Source=(LocalDb)\v11.0;Initial Catalog=blackmamba.billing;Integrated Security=SSPI;AttachDBFilename=|DataDirectory|\aspnet-NFunPay-20130111111713.mdf" providerName="System.Data.SqlClient"/>
    <add name="ConnectionStringOracleGeneral" connectionString="data source=(DESCRIPTION=(ADDRESS=(PROTOCOL=tcp)(HOST=dev-db.nfungame.com)(PORT=1522))(CONNECT_DATA=(SERVICE_NAME=orcl)));user id=dev; password=nfun1qaz" providerName="Oracle.DataAccess.Client"/>
    <add name="ConnectionStringOracleLog" connectionString="data source=(DESCRIPTION=(ADDRESS=(PROTOCOL=tcp)(HOST=dev-db.nfungame.com)(PORT=1522))(CONNECT_DATA=(SERVICE_NAME=orcl)));user id=logtest; password=3edc$RFV" providerName="Oracle.DataAccess.Client" />
  </connectionStrings>
  <appSettings>

    <add key="smtpServer" value="smtp.qq.com"/>
    <add key="fromEmail" value="214636584@qq.com"/>
    <add key="fromPassword" value="cc880216"/>
    <add key="toMyQQEmail" value="123439887@qq.com"/>
    <add key="toGnQQEmail" value="278412113@qq.com"/>


    <add key="webpages:Version" value="2.0.0.0"/>
    <add key="webpages:Enabled" value="false"/>
    <add key="PreserveLoginUrl" value="true"/>
    <add key="ClientValidationEnabled" value="true"/>
    <add key="UnobtrusiveJavaScriptEnabled" value="true"/>
    <add key="redis_read_write_servers" value="127.0.0.1:6379"/>
    <add key="redis_readonly_servers" value="127.0.0.1:6379"/>
    <add key="MaxWritePoolSize" value="10"/>
    <add key="MaxReadPoolSize" value="10"/>
    <add key="Cache_redis_read_write_servers" value="127.0.0.1:6379"/>
    <add key="Cache_redis_readonly_servers" value="127.0.0.1:6379"/>
    <add key="Cache_MaxWritePoolSize" value="10"/>
    <add key="Cache_MaxReadPoolSize" value="10"/>
    <add key="Log_redis_read_write_servers" value="127.0.0.1:6379"/>
    <add key="Log_redis_readonly_servers" value="127.0.0.1:6379"/>
    <add key="Log_MaxWritePoolSize" value="10"/>
    <add key="Log_MaxReadPoolSize" value="10"/>
    <add key="LogLevel" value="Info"/>
    <!--AppStoreResources folder location-->
    
    <!-- @@@@@@ YeePay Start @@@@@@-->
    <!-- 测试商户编号，请在正式上线时使用您自己的商户编号-->
    <add key="merhantId" value="10011874016" />
    <!-- 测试商户密钥,请在正式上线时使用您自己的商户密钥 -->
    <add key="keyValue" value="b2f85Y74hmP1TnR42Mv7783R2f24165S35o247Cxqt2b1Y6a117zlo2XAEu0" />
    <!-- 交易请求地址，默认使用测试地址,请在正式上线时使用生产地址 -->
    <add key="authorizationURL" value="https://www.yeepay.com/app-merchant-proxy/node" />
    <!--<add key="authorizationURL" value="https://www.yeepay.com/app-merchant-proxy/node"/>-->
    <add key="cardAuthorizationURL" value="http://www.yeepay.com/app-merchant-proxy/command.action" />
    <!-- 查询和退款地址，默认使用测试地址,请在正式上线时使用生产地址-->
    <add key="queryRefundReqURL" value="https://www.yeepay.com/app-merchant-proxy/command" />
    <!--<add key="queryRefundReqURL" value="https://www.yeepay.com/app-merchant-proxy/command"/>-->
    <add key="YeepayCallBackURL" value="http://pay.nfungame.com/Yeepay/YeepayCallBack/" />
    <add key="YeepayCardCallBackURL" value="http://pay.nfungame.com/Yeepay/YeepayCardCallBack/" />
    <add key="UseRealYeePay" value="true" />
    <!-- @@@@@@ YeePay End @@@@@@-->
    
    
    <!-- @@@@@@ Alipay Start @@@@@@-->
    <!--Alipay-->
    <add key="needVerifySig" value="false"/>
    <add key="AliPartnerNo" value="2088801865559922" />
    <add key="AliSellerAccount" value="hyperiong01@nfungame.com" />
    <add key="AliWapPayNotifyUrl" value="http://pay.nfungame.com/Alipay/WapNotify" />
    <add key="AliWapPayCallbackUrl" value="http://pay.nfungame.com/Alipay/WapCallback" />
    <add key="AliWapPayMerchantUrl" value="http://pay.nfungame.com/Alipay/WapCancel" />
    <add key="AliPublicKey" value="MIGfMA0GCSqGSIb3DQEBAQUAA4GNADCBiQKBgQCRcLl4XmfE3Vi3Mnom3BGFcgcrrq+pQKHSn5Q7 4HTjZaOtit6EX+s/cMaErQZyLpAYPITDcPRgwp7E6YINCKGbzVMieStTqnBWuiyorG8Y49f/LfiY n+GX67JY3QSFRjn7td/RJEnfUkAdmp1H2MYuBb47dP4VwKoOZfbPo7sE4QIDAQAB" />
    <add key="MerchantPublicKey" value="MIGfMA0GCSqGSIb3DQEBAQUAA4GNADCBiQKBgQCwwb1qajLDFv/vZROSVJVxgkcXolFe4bATh1Eyy+gbWARtCHQTJAVtSbD7mtLdabE+qyM21cmqwCIzgTI5kLkrnXguxzgJfFhUTzHvstS6NZVzp52dVhhiiGst7pcIbQqs4I/+9SIFBMFui83dMwa5KrAjS7a0WX8ttu8p5wUn7QIDAQAB" />
    <add key="MerchantPrivateKey" value="MIICdQIBADANBgkqhkiG9w0BAQEFAASCAl8wggJbAgEAAoGBALDBvWpqMsMW/+9lE5JUlXGCRxeiUV7hsBOHUTLL6BtYBG0IdBMkBW1JsPua0t1psT6rIzbVyarAIjOBMjmQuSudeC7HOAl8WFRPMe+y1Lo1lXOnnZ1WGGKIay3ulwhtCqzgj/71IgUEwW6Lzd0zBrkqsCNLtrRZfy227ynnBSftAgMBAAECgYAjLix5JbH8ynMePsvqcBNeiEOGHLR9YgYdnO04YwVLi/U1jl0sAhtiaSxkp6gYkZTJmF5l558/8QXdonVQp9Fy2+jZbyVKwX8GjuoqCY11MNV4oGdsDF8ZsL/suOWhhqscGPebYXhD9QVeZDzhf/UZPfKs/5Z63ZmPlLJacWvoMQJBAOcVzIHU8I0Tfx64qCcVSVhEzfzgNOtdKaaYDEEH6Ewh1atxxq9tJo1IGiRd8nwIP0wAajhdpYeAeHm6tGzsBQsCQQDD0Gtgpx9lTZ/E1MvAWucLvKOq5Vt3x5XVT5v4Z79oBXCuLSDvhD9QlrOY6J8FXjoQsdz8W0lNyWGCkGdFsLHnAkAJ+okAOj/A98yPeQ3Z0jN+mkoC13Oxji5UQVCWJk9DqlpdsuYPgTke9LQcSepErN5+2626jWCufz+0kflkkrSNAkAlfQqBt51AJMtYwLC9g+nGCnh/KGgJl5FtBE/FD//KJ3h6MDOlB3mjsSZzON3xBigxuAup2MRA+zQK7iCHbBuzAkBRkmyQpABn/B+m5QzzShDZ/Ny8vqAta6wXU0XnJedmYY88msmqLrLuoaASL9qoJzRcJR1JvAaeeRm66BpUrW7h" />
    <!-- @@@@@@ Alipay End @@@@@@-->

    <add key="CheckCount" value="60"/>
    <!-- @@@@@@ SMS payment Start @@@@@@-->
    <add key="Productsid" value=""/>
    <add key="keys" value=""/>
    <!-- @@@@@@ SMS payment End @@@@@@-->

    <add key="UserName" value="admin"/>
    <add key="Password" value="ccadmin"/>
  </appSettings>
  <system.web>
    <customErrors mode="Off"/>
    <compilation debug="true" targetFramework="4.0"/>
    <httpRuntime/>
    <authentication mode="Forms">
      <forms loginUrl="~/Account/Login" timeout="2880"/>
    </authentication>
    <pages controlRenderingCompatibilityVersion="4.0">
      <namespaces>
        <add namespace="System.Web.Helpers"/>
        <add namespace="System.Web.Mvc"/>
        <add namespace="System.Web.Mvc.Ajax"/>
        <add namespace="System.Web.Mvc.Html"/>
        <add namespace="System.Web.Optimization"/>
        <add namespace="System.Web.Routing"/>
        <add namespace="System.Web.WebPages"/>
      </namespaces>
    </pages>
  </system.web>
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false"/>
    <handlers>
      <remove name="ExtensionlessUrlHandler-ISAPI-4.0_32bit"/>
      <remove name="ExtensionlessUrlHandler-ISAPI-4.0_64bit"/>
      <remove name="ExtensionlessUrlHandler-Integrated-4.0"/>
      <add name="ExtensionlessUrlHandler-ISAPI-4.0_32bit" path="*." verb="GET,HEAD,POST,DEBUG,PUT,DELETE,PATCH,OPTIONS" modules="IsapiModule" scriptProcessor="%windir%\Microsoft.NET\Framework\v4.0.30319\aspnet_isapi.dll" preCondition="classicMode,runtimeVersionv4.0,bitness32" responseBufferLimit="0"/>
      <add name="ExtensionlessUrlHandler-ISAPI-4.0_64bit" path="*." verb="GET,HEAD,POST,DEBUG,PUT,DELETE,PATCH,OPTIONS" modules="IsapiModule" scriptProcessor="%windir%\Microsoft.NET\Framework64\v4.0.30319\aspnet_isapi.dll" preCondition="classicMode,runtimeVersionv4.0,bitness64" responseBufferLimit="0"/>
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="GET,HEAD,POST,DEBUG,PUT,DELETE,PATCH,OPTIONS" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0"/>
    </handlers>
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="1.0.0.0-2.0.0.0" newVersion="2.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="1.0.0.0-2.0.0.0" newVersion="2.0.0.0"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework"/>
  </entityFramework>
</configuration>