<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <SiteUrlToLaunchAfterPublish />
    <MSDeployServiceURL>localhost</MSDeployServiceURL>
    <DeployIisAppPath>PaymentCenter</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>InProc</MSDeployPublishMethod>
    <UserName />
    <_SavePWD>False</_SavePWD>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="ConnectionStringOracleGeneral" Order="1" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="data source=(DESCRIPTION=(ADDRESS=(PROTOCOL=tcp)(HOST=dev-db.nfungame.com)(PORT=1522))(CONNECT_DATA=(SERVICE_NAME=orcl)));user id=dev; password=nfun1qaz" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\ConnectionStringOracleGeneral_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="data source=(DESCRIPTION=(ADDRESS=(PROTOCOL=tcp)(HOST=dev-db.nfungame.com)(PORT=1522))(CONNECT_DATA=(SERVICE_NAME=orcl)));user id=dev; password=nfun1qaz" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="ConnectionStringOracleLog" Order="2" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="data source=(DESCRIPTION=(ADDRESS=(PROTOCOL=tcp)(HOST=dev-db.nfungame.com)(PORT=1522))(CONNECT_DATA=(SERVICE_NAME=orcl)));user id=logtest; password=3edc$RFV" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\ConnectionStringOracleLog_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="data source=(DESCRIPTION=(ADDRESS=(PROTOCOL=tcp)(HOST=dev-db.nfungame.com)(PORT=1522))(CONNECT_DATA=(SERVICE_NAME=orcl)));user id=logtest; password=3edc$RFV" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="DefaultConnection" Order="3" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=(LocalDb)\v11.0;AttachDbFilename=|DataDirectory|\aspnet-NFunPay-20130111111713.mdf;Initial Catalog=blackmamba.billing;Integrated Security=True" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\DefaultConnection_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Data Source=(LocalDb)\v11.0;Initial Catalog=blackmamba.billing;Integrated Security=SSPI;AttachDBFilename=|DataDirectory|\aspnet-NFunPay-20130111111713.mdf" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
</Project>