<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

  <!-- 
  See http://nlog-project.org/wiki/Configuration_file 
  for information on customizing logging rules and outputs.
   -->
  <targets>
    <!-- add your targets here -->

    <target xsi:type="File" name="ErrorLoggerTarget" fileName="D:/CacheLogs/Error/CacheErrors_${processid}.txt"
             layout="${longdate} ${uppercase:${level}} ${message}" keepFileOpen="false" archiveAboveSize="1048576" maxArchiveFiles="10" archiveNumbering="Rolling" />

    <target xsi:type="File" name="PaymentsLoggerTarget" fileName="D:/CacheLogs/PaymentsTest/PaymentsLogger_${processid}.txt"
       layout="${longdate} ${uppercase:${level}} ${message}" keepFileOpen="false" archiveAboveSize="1048576" maxArchiveFiles="10" archiveNumbering="Rolling" />

  </targets>

  <rules>
    <!-- add your logging rules here -->

    <logger name="ErrorLogger" minlevel="Error" writeTo="ErrorLoggerTarget" />

    <logger name="PaymentsTest" minlevel="Error" writeTo="PaymentsLoggerTarget" />
  </rules>

</nlog>