<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="DefaultConnection" connectionString="Data Source=(LocalDb)\v11.0;Initial Catalog=blackmamba.billing;Integrated Security=SSPI;AttachDBFilename=|DataDirectory|\aspnet-NFunPay-20130111111713.mdf" providerName="System.Data.SqlClient"/>
    <add name="ConnectionStringOracleGeneral" connectionString="data source=(DESCRIPTION=(ADDRESS=(PROTOCOL=tcp)(HOST=dev-db.nfungame.com)(PORT=1522))(CONNECT_DATA=(SERVICE_NAME=orcl)));user id=dev; password=nfun1qaz" providerName="Oracle.DataAccess.Client"/>
    <add name="ConnectionStringOracleLog" connectionString="data source=(DESCRIPTION=(ADDRESS=(PROTOCOL=tcp)(HOST=dev-db.nfungame.com)(PORT=1522))(CONNECT_DATA=(SERVICE_NAME=orcl)));user id=logtest; password=3edc$RFV" providerName="Oracle.DataAccess.Client" />
  </connectionStrings>
  <appSettings>
    <add key="webpages:Version" value="2.0.0.0"/>
    <add key="webpages:Enabled" value="false"/>
    <add key="PreserveLoginUrl" value="true"/>
    <add key="ClientValidationEnabled" value="true"/>
    <add key="UnobtrusiveJavaScriptEnabled" value="true"/>
    <add key="redis_read_write_servers" value="127.0.0.1:6379"/>
    <add key="redis_readonly_servers" value="127.0.0.1:6379"/>
    <add key="MaxWritePoolSize" value="10"/>
    <add key="MaxReadPoolSize" value="10"/>
    <add key="Cache_redis_read_write_servers" value="127.0.0.1:6379"/>
    <add key="Cache_redis_readonly_servers" value="127.0.0.1:6379"/>
    <add key="Cache_MaxWritePoolSize" value="10"/>
    <add key="Cache_MaxReadPoolSize" value="10"/>
    <add key="Log_redis_read_write_servers" value="127.0.0.1:6379"/>
    <add key="Log_redis_readonly_servers" value="127.0.0.1:6379"/>
    <add key="Log_MaxWritePoolSize" value="10"/>
    <add key="Log_MaxReadPoolSize" value="10"/>
    <add key="LogLevel" value="Info"/>

    <add key="RetryTimes" value="5" />
    <add key="RetryIntervals" value="0,100,0,0,0" />
    <add key="WorkerNumber" value="10" />
    <!--AppStoreResources folder location-->

    <!-- @@@@@@ YeePay Start @@@@@@-->
    <!-- 测试商户编号，请在正式上线时使用您自己的商户编号-->
    <add key="merhantId" value="10001126856"/>

    <!--测试商户密钥,请在正式上线时使用您自己的商户密钥-->
    <add key="keyValue" value="69cl522AV6q613Ii4W6u8K6XuW8vM1N6bFgyv769220IuYe9u37N4y7rI4Pl"/>
    <!-- 交易请求地址，默认使用测试地址,请在正式上线时使用生产地址-->
    <add key="authorizationURL" value="http://tech.yeepay.com:8080/robot/debug.action"/>
    <!--<add key="authorizationURL" value="https://www.yeepay.com/app-merchant-proxy/node"/>-->
    <add key="cardAuthorizationURL" value="http://www.yeepay.com/app-merchant-proxy/command.action"/>
    <!-- 查询和退款地址，默认使用测试地址,请在正式上线时使用生产地址-->
    <add key="queryRefundReqURL" value="http://tech.yeepay.com:8080/robot/debug.action"/>
    <!--<add key="queryRefundReqURL" value="https://www.yeepay.com/app-merchant-proxy/command"/>-->
    <add key="YeepayCallBackURL" value="http://localhost:4874/Yeepay/YeepayCallBack/"/>
    <add key="YeepayCardCallBackURL" value="http://localhost:4874/Yeepay/YeepayCardCallBack/"/>
    <add key="UseRealYeePay" value="false"/>
    <!-- @@@@@@ YeePay End @@@@@@-->

    <!-- @@@@@@ Alipay Start @@@@@@-->
    <!--Alipay-->
    <add key="needVerifySig" value="false"/>
    <add key="AliPartnerNo" value="2088701092044335"/>
    <add key="AliSellerAccount" value="tianfei@youleonline.com"/>
    <add key="AliWapPayNotifyUrl" value="http://inet.kk570.com/Alipay/WapNotify"/>
    <add key="AliWapPayCallbackUrl" value="http://inet.kk570.com/Alipay/WapCallback"/>
    <add key="AliWapPayMerchantUrl" value="http://inet.kk570.com/Alipay/WapCancel"/>
    <add key="AliPublicKey" value="MIGfMA0GCSqGSIb3DQEBAQUAA4GNADCBiQKBgQCTOPTvPkQivqqL5aI7weVbf9GO2MrsolXLENE8HGT1Da4knrhYmwOqy6L8FoeRujaRMR61kb/k9q4KxT5yOhJ9nQlwomB8CMvyQq44KpDT73bO80vHecrnLm25bPcnhm5sGKxJgInl77g8mBAQ8sC2LuW+0QXWcevpSPsIt4VVwwIDAQAB"/>
    <add key="MerchantPublicKey" value="MIGfMA0GCSqGSIb3DQEBAQUAA4GNADCBiQKBgQC6oqEXYVodHwJsyZ4/OZ3XJxguLPZ7kLODXsIxcxnhm/SU/bJlpFF7jAnAvWVU8nu4lytISDIDjU2dk63oF5C7/kUYF9v2ByrSAcOk2wp2g7goSm80dwiyzbuOZKI11TnyveaIS2CpaXfV8k3vlAg6auip6oVU9FH4R10ahQh93wIDAQAB"/>
    <add key="MerchantPrivateKey" value="MIICdgIBADANBgkqhkiG9w0BAQEFAASCAmAwggJcAgEAAoGBALqioRdhWh0fAmzJnj85ndcnGC4s9nuQs4NewjFzGeGb9JT9smWkUXuMCcC9ZVTye7iXK0hIMgONTZ2TregXkLv+RRgX2/YHKtIBw6TbCnaDuChKbzR3CLLNu45kojXVOfK95ohLYKlpd9XyTe+UCDpq6KnqhVT0UfhHXRqFCH3fAgMBAAECgYBiuWIzRujvHJcgyqnt0eF/jQuKaXhctpdut3JLzBH1uJRxN53ljD0Z+GK0VLtEaxws8bIQgzgJjvZuk07bxZNmJUG6GHcsxUiomsqqolwGWo6KBDvuDsmSpIQ+dImPmyImWzx7Awikx0E3IFpwMQk+Wg3rIugKrxs0qV6TqOFsKQJBAPc8LPlBnxu83HzZFVk1+758O42TbmWFM2YGRo0ELCI0yX4OKsONi0tONtUiHwFQKxV3I4C43I9SaEaXqg5ZGe0CQQDBQHhCSHNYxPFDK24/OVM1B4yhKrZbL0JOAsCJb+IoRhUZ/F7dBdBd4GD55+FazMzbG+3seWtaMg1nMXAkiA17AkBAoiWrwAEFclk99k6DdP5sLPQwreNFfQ4T1P4qrXWQN7aZUsDRQLayqC7jhzkN0dSBlxTb+PgIK+YA1nNprtd9AkEAnEWJ+e+kdvArOOnx6OZuRr+oFNv5Qptgvryy/XCgLXkerzjJbWm6KW+8e9nq/gYG0lgveb5l9TXsaLotuRzb6QJAce4S6XZL+46r/v3wcZ6hfxPUVUNVZ7E0rPYK+C3P4XZ04SIGedxoxp5LPcvYQbW/eu1IF1Zkf3H+4NtmwOSFDw=="/>
    </appSettings>
</configuration>